* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAF7EF;
    height: 100vh;
}

@keyframes slidein {
    from {
      margin-top: 1rem;
      opacity: 0.1;
    }
  
    to {
      margin-top: 0%;
      opacity: 1;
    }
  }


.fade-first {
    animation-name: slidein;
    animation-duration: 0.7s;
}

.fade-in {
    opacity: 0;
} 

#nav, #about, #design-proj, #dev-proj, #footer {
    padding: 2rem;
}

#about, #design-proj, #dev-proj, .project-pg {
    background-color: white;
}

h1 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
}
  
h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem; 
}

h4 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    line-height: 1rem;
    padding-bottom: 2rem;
}


ul {
    list-style: none;
}

a {
    /* color: rgb(55, 129, 241); */
    /* color: rgb(255, 92, 28); */
    color: black;
    text-decoration: none;

    font-weight: 800;
}

#nav, #footer {
    background-color: #FAF7EF;
}

#about {
    width: auto;
    height: auto;
    background-color: #FAF7EF;
    padding: 4rem 2rem 6rem 2rem;
}

.nav-name, ul, .nav-link, .left-skills, .right-skills {
    display: inline-block;
    vertical-align: top;
}

#nav-links {
    /* padding-top: 6px; */
    float: right;
}

#nav-links, .nav-name {
    margin-top: -0.4rem;
}

.nav-link {
    text-align: right;
    margin-left: 1rem;
}

.nav-link a, .footer-link, .proj-link {
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}


.footer-link {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

#profile-pic {
    width: 120px;
    height: 120px;
    clip-path: circle(60px at center); 
}

.about-desc h1 {
    padding-bottom: 1.5rem;
}

.about-link {
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem;
    font-size: 2rem;
    line-height: 3rem;
}

.about-link a {
    border-bottom: 2px solid black;
    padding-bottom: 1px;
}

.project-thumb img {
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
}

.project-thumb h3 {
    padding-bottom: 2rem;
}

.proj-container h2 {
    padding-bottom: 2rem;
}


@media only screen and (max-width: 480px){
    #nav-links, .left-skills, .right-skills {
        display: none;
    }

    h1 {
        font-size: 2.75rem;
        line-height: 3.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #profile-pic {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 481px){
    #nav-links, .left-skills, .right-skills {
        display: none;
    }
    h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    #profile-pic {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 620px){
    #nav-links, .left-skills, .right-skills {
        display: none;
    }
}

@media only screen and (min-width: 780px){


/* nav */


    #nav-links {
        display: inline-block;
    }


/* about */


    #about  {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 2rem;
        grid-column-gap: 1.5rem;

    }

    .about-desc {
        grid-row: 1;
        grid-column: 1/3;
        padding-right: 1rem;
    }

    #profile-pic {
        grid-row: 3;
        grid-column: 1/3;
    }

    .left-skills, .right-skills {
        display: inline-block;
        grid-row: 1;
        padding-top: 0.5rem;
    }

    .left-skills {
        grid-column: 3/4;
    }
    .right-skills {
        grid-column: 4;
    }


/* projects */
    .proj-container {
        padding: 2rem 2rem 4rem 2rem;
    }

    .project-thumbnails {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
        grid-column-gap: 1.5rem;
    }

    .caption {
        width: 25%;
    }

}

@media only screen and (min-width: 1024px){
    #about  {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .about-desc {
        grid-row: 1;
        grid-column: 1/4;
    }

    #profile-pic {
        grid-row: 3;
        grid-column: 1/3;
    }

    .left-skills {
        grid-column: 4/5;
    }
    .right-skills {
        grid-column: 5;
    }
}